fastapi
uvicorn
gophish
openai
python-dotenv
pydantic
requests
apscheduler
imap-tools
urlextract
python-whois
tldextract
python-multipart
fpdf2
psycopg2-binary
pyyaml
oletools
redis
pyjwt
google-api-python-client
google-auth
pytest
